/*TREEMAP*/
.treemapnode {
    border: solid 1px white;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
}
/*BUBBLE*/
circle {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

circle.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

circle.child {
  /*pointer-events: none;*/

}

circle.child:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

/*NZE*/
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    shape-rendering: crispEdges;
}

.dot {
    stroke: none;
    fill: steelblue;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 42px;
    padding: 2px;
    font: 12px sans-serif;
    background: #ddd;
    border: solid 0px #aaa;
    border-radius: 8px;
    pointer-events: none;
}
